node_modules/
dist/
.env
.DS_Store
coverage/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
package-lock.json
pnpm-lock.yaml
/.vscode/


/src/satellite-service/resources/application-prod.properties
/target/
/logs/
*.iml
.idea/
out/
*.log
*.class
*.jar
*.war
*.ear


#firebase
src/satellite-service/src/main/resources/serviceAccountKey.json

src/satellite-service/src/main/resources/application-production.ymlsrc/satellite-service/target/classes/serviceAccountKey.json
src/satellite-service/target/classes/serviceAccountKey.json
src/satellite-service/src/main/resources/application-production.yml